body{
    margin: 0px;
    padding: 0px;
}
.bar h1{
    text-align: center;
}
h1,h2{
    padding: 0px;
    margin: 0px;
}
.bar{
    background-color: aquamarine;
    grid-area: a;
    border-bottom: 2px solid black;
}
.parteuno{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    grid-area: b;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}
.partedos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    grid-area: c;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}
.partetres{
    background-color: aquamarine;
    grid-area: d;
}
.container{
    display: grid;
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d";
    min-height: 100vh;
}

.container-parte-dos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px 20px;
}
img{
    width: 400px;
}
.partetres{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    grid-area: b;
    padding-top: 20px;
    padding-bottom: 20px;
}